* {
  font-family: Gilroy;
  font-weight: 800;
}

#para {
  text-align: center;
}

.header1 {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-family: Gilroy;
}

.header2 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-family: Gilroy;
  margin-top: -15px;
}

.CatDiv {
  display: flex;
}

.CatButton {
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #ffc107;
  display: inline;
  color: black !important;
}

.CatUl {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Selected {
  color: black;
}

.centerCard {
  text-align: center;
  justify-content: center;
}

.FrontClass {
  text-align: right;
  justify-content: right;
}

.FrontClassBack {
  background-image: url(https://images.unsplash.com/photo-1519091830432-41608a52904e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-position: left;
  background-repeat: no-repeat;
}

.topButton {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 10px;
}

.tblButton {
  width: 15%;
  margin-left: 10px;
}

.categoryStyle {
  text-decoration: none;
  padding: 15px;
  border: 3px solid #ffc107;
  color: black;
  border-radius: 20px;
}

.flexItems {
  flex-basis: 20%;
}

.catActive {
  background-color: #ffc107;
  color: black !important;
}

@media (max-width: 1200px) {
  .CatUl {
    display: flex;
  }

  .flexItems {
    flex-basis: 30%;
  }
}

@media (max-width: 700px) {
  .CatUl {
    display: flex;
  }

  .FrontClass {
    text-align: right;
    justify-content: right;
  }

  .title {
    font-size: 15px;
  }

  .text {
    font-size: 13px;
  }

  .flexItems {
    flex-basis: 30%;
  }
}

@media (max-width: 350px) {
  .flexItems {
    flex-basis: 40%;
  }
}
