.checkoutTitle {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: 800;
  text-align: center;
}

.check1 {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: normal;
}

.check2 {
  font-size: 12px;
  font-weight: 300;
}

.tablenumberDiv {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}

.tblButton {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
  color: black !important;
  border-radius: 13px;
  height: 80px;
}

.myCheckButton {
  height: 70px;
  width: 100%;
  text-align: center;
}

.myCheckButton span {
  font-size: 18px;
}

.variantStyle {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: normal;
}

.itemTitle {
  font-size: 17px;
  font-weight: 800;
  letter-spacing: normal;
}

.linewidth {
  height: 3px !important;
  width: auto;
}
.successText {
  margin-top: 20px;
  margin-left: 100px;
}

.cText {
  width: 70%;
  margin-top: 20px;
  margin-left: 80px;
}

.cButton {
  margin-top: 20px;
  margin-left: 170px;
}

.addNote {
  display: flex;
  margin-left: 20px;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.noteArea {
  border: 3px solid #ffc107;
  border-radius: 10px;
  width: 280px;
  height: 100px;
  margin-left: 10px;
}
.myImg {
  width: 220px;
  margin-left: 110px;
}

@media (max-width: 1200px) {
  .cButton {
    margin-top: 20px;
    margin-left: 150px;
  }
  .successText {
    margin-top: 20px;
    margin-left: 60px;
  }

  .cText {
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
  }

  .myCheckButton {
    height: 70px;
    text-align: center;
    width: 100%;
  }
  .tablenumberDiv {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
  }

  .linewidth {
    height: 3px !important;
    width: auto;
  }
  .tblButton {
    font-weight: 800;
    font-size: 30px;
    margin-top: 5px;
    color: black !important;
    border-radius: 13px;
    height: 80px;
    width: 70px;
  }
  .noteArea {
    border: 3px solid #ffc107;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    margin-left: -5px;
  }
  .myImg {
    width: 170px;
    margin-left: 70px;
  }
}

@media (max-width: 700px) {
  .cButton {
    margin-top: 20px;
    margin-left: 90px;
  }

  .myCheckButton {
    height: 70px;
    text-align: center;
    width: 100%;
  }

  .successText {
    margin-top: 20px;
    margin-left: 70px;
  }

  .cText {
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
  }

  .tablenumberDiv {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
  }

  .addNote {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .linewidth {
    height: 3px !important;
    width: auto;
  }

  .myImg {
    width: 190px;
    margin-left: 70px;
  }

  .tblButton {
    font-weight: 800;
    font-size: 30px;
    margin-top: 5px;
    color: black !important;
    border-radius: 13px;
    height: 80px;
    width: 70px;
  }
  .noteArea {
    border: 3px solid #ffc107;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    margin-left: -5px;
  }
}
