.Card {
  margin-bottom: 10px;
  cursor: pointer;
  transition: all ease 300ms;
  margin-left: -20px;
}

.CardStyle {
  border-radius: 30px;
  border: 4px solid #ffc107 !important;
  padding: 2px;
}

.basketButton {
  margin-top: 10%;
  align-items: center;
  width: 100%;
  position: sticky;
}

.pName {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: normal;
}

.pSize {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: normal;
}

.hr:after {
  content: " ";
  display: block;
  border-bottom: 4px solid #f3f3f3;
}

.rightoncard {
  text-align: right;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: normal;
  padding-right: 30px !important;
}

.descriptionText {
  font-size: 16px;
  font-weight: 300;
  line-height: 0.94;
  padding: 5px 0px 0px 20px !important;
  letter-spacing: normal;
}

.option {
  font-size: 22px;
  font-weight: 800;
}

.extra {
  font-size: 20px;
  font-weight: 800;
}

.myRadio {
  border: #ffc107 3px solid !important;
  width: 700px !important;
  transition: 0.5s ease !important;
}

.myRadio:hover {
  background-color: #ffc107 !important;
}

.myRadio .check[type="radio"]:checked {
  background-color: #ffc107 !important;
}

.check {
  margin-right: 30px !important;
  font-size: 22px !important;
  font-weight: 800;
}
.Yellowbutton {
  width: 20%;
}

.container_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container_button_items {
  margin-right: 10px;
  flex-basis: 23%;
  height: 57px;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: 800;
}
.diff {
  border: 4px solid #ffc107;
}

input.form-check-input:checked {
  background-color: #ffc107;
}

.common {
  background-color: #ffc107;
  border: 0px;
}

.orderyellowButton {
  width: 100%;
  background-color: #ffc107 !important;
  color: black;
  font-size: 16px;
  font-weight: 800;
  border: 0px;
  border-radius: 10px;
  height: 47px;
}

.darkBig {
  font-weight: 800;
  padding: 20px 0px 0px 20px !important;
}
