.subUl {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -20px;
}

.subStyle {
  align-self: center;
  text-align: center;
  flex-basis: 15%;
}

.subLine {
  text-decoration: none;
  color: black !important;
}

.activeSub {
  text-decoration: underline solid #ffc107 5px !important;
}

@media (max-width: 700px) {
  .subStyle {
    text-decoration: none;
    color: black;
    flex-basis: 30%;
  }
}

@media (max-width: 300px) {
  .subStyle {
    text-decoration: none;
    color: black;
    flex-basis: 30%;
  }
}
